.contactBlock {
    /*height: 100vh;*/
    background-color: #232a34;
}
.contactContainer {
    justify-content: flex-start;
    flex-direction: column;
}
.contacts {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contacts form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: #fff
}
.button {
    margin: 1px;
    width: 50px;
    background-color: #2ca46d;
    border-radius: 5px;
}