.myWork {
    width: 250px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

.myWork h4 {
    margin: 0;
}

.icon img {
    width: 90%;
}

