.section__about {
    background-color: #232a34;
}

.about__wrap {
    width: 500px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.about__img {
    width: 400px;
    height: 500px;
}

.about__wrap h1 {
    color: #2ca46d;
    font-family: 'Quicksand', sans-serif;
}

.about__btn {
    background-color: #2ca46d;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 150px;
}