

.skillsBlock {
    /*height: 100vh;*/
    background-color: aqua;

}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;

}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.title {
    background-color: blueviolet;
}