
.skillsBlock {

    background-color: #232a34;

}

.skillsContainer {
    /*justify-content: center;*/
    flex-direction: column;


}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

/*.title {*/
/*    color: #fff;*/
/*}*/