.mainBlock {
    min-height: 100vh;
    background-color: #232a34;


}

.greeting {
    width: 300px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}

.photo {
    width: 400px;
    height: 500px;


}

.greeting h1 {
    color: #2ca46d;
    font-family: 'Quicksand', sans-serif;

}
.pad{
    padding-top: 100px;
}