
.educationItemBlock {

    background-color: #292b2c;

}

.educationItemContainer {
    justify-content: flex-start;
    flex-direction: column;

}

.educationItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}

/*.title {*/
/*    color: #fff;*/
/*}*/